/* Monica Narciso & Tyler Smith, 9/18/2020, Javascript Exercise 5, Web Technologies */
body {
    font-family: 'Raleway', sans-serif;
	color:#12182B;
	background-color: #F1DEDE;
	margin: 10px;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.flex-row {
    display:flex;
    justify-content:center;
    align-items:center;
}

.btn {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    /* em is a relative unit, 1em is equal to the font size of the parent element */
    font-size:25px;
    width: 7em;
    margin:10px;
    color: white;
    background-color: #0496FF;
    cursor:pointer;

    transition:0.2s;
}

.btn:hover {
    transform:translate(-6px, -6px);
    box-shadow: 6px 6px 0 #1A61DB;
}

.btn:active {
    transform:translate(0, 0);
    box-shadow: 0px 0px 0 #1A61DB;
}

#func-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    font-size:20px;
    padding:10px 20px;
    border-radius: 500px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #0496FF;
    color:white;
    outline:none;
}

.submit-btn:hover {
    text-decoration: underline;
}

.submit-btn:active {
    border:1px solid black;
}

table {
    border-collapse: collapse;
    font-size:20px;
}

tr:first-child {
    background-color:#5cb6ff;
}

tr:nth-child(2n) {
    background-color: #e2e2e2;
}

td:first-child {
    background-color:#5cb6ff;
}

td {
    padding:8px;
    border:1px solid black;
}

img {
    width:341px;
    height:256px;
    border:1px solid black;
    margin:10px;
}

input {
    font-size:15px;
    height:20px;
    width:100px;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
}